body {
  margin: 0px 0px 1px 0px; /* the extra 1px allows the iOS inner/outer check to work */
  background: 'transparent';
  overflow-y: hidden;
}

#turn {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  background-image: url('../assets/orientation.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
}
